<blockquote>
  <p>“Considero un error creer que existe una diferencia entre lo que uno piensa y lo que uno está dispuesto a hacer.”</p>
</blockquote>

<h1 id="frases-célebres-de-sherlock-holmes">Frases célebres de Sherlock Holmes</h1>

<ul>
  <li>
    <p><strong>Fuente:</strong> Estudio en escarlata</p>

    <blockquote>
<p>“Cuando se ha eliminado lo imposible, lo que queda, por improbable que parezca, debe ser la verdad.”</p>
</blockquote>
  </li>
</ul>
<p>&lt;/blockquote&gt;</p>

<h1 id="frases-célebres-de-sherlock-holmes">Frases célebres de Sherlock Holmes</h1>

<ul>
  <li>
    <p><strong>Fuente:</strong> Estudio en escarlata</p>

    <blockquote>
<p>“Cuando se ha eliminado lo imposible, lo que queda, por improbable que parezca, debe ser la verdad.”</p>
</blockquote>
  </li>
</ul>
<p>&lt;/blockquote&gt;</p>

<h1 id="frases-célebres-de-sherlock-holmes">Frases célebres de Sherlock Holmes</h1>

<p>{% for quote in site.holmes_quotes %}</p>
<ul>
  <li>
    <p><strong>Fuente:</strong> {{ quote.source }}</p>

    <p>{{ quote.content | markdownify }}
{% endfor %}</p>
  </li>
</ul>

<ul>
  <li>
    <p><strong>Fuente:</strong> El signo de los cuatro</p>

    <blockquote>
<p>“Considero un error creer que existe una diferencia entre lo que uno piensa y lo que uno está dispuesto a hacer.”</p>
</blockquote>
  </li>
</ul>
<p>&lt;/blockquote&gt;</p>

<h1 id="frases-célebres-de-sherlock-holmes">Frases célebres de Sherlock Holmes</h1>

<p>{% for quote in site.holmes_quotes %}</p>
<ul>
  <li>
    <p><strong>Fuente:</strong> {{ quote.source }}</p>

    <p>{{ quote.content | markdownify }}
{% endfor %}</p>
  </li>
</ul>

<ul>
  <li>
    <p><strong>Fuente:</strong> El signo de los cuatro</p>

    <blockquote>
<p>“Considero un error creer que existe una diferencia entre lo que uno piensa y lo que uno está dispuesto a hacer.”</p>
</blockquote>
  </li>
</ul>
<p>&lt;/blockquote&gt;</p>

<h1 id="frases-célebres-de-sherlock-holmes">Frases célebres de Sherlock Holmes</h1>

<p>{% for quote in site.holmes_quotes %}</p>
<ul>
  <li>
    <p><strong>Fuente:</strong> {{ quote.source }}</p>

    <p>{{ quote.content | markdownify }}
{% endfor %}</p>
  </li>
</ul>

